<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Customer</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/customers/{id}(id=${customer.getId()})}" th:object="${customer}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name">
    <br/>
    <br/>
    <label for="phoneNumber">Enter phoneNumber: </label>
    <input type="text" th:field="*{phoneNumber}" id="phoneNumber">
    <br/>
    <br/>
    <input type="submit" value="Update">
</form>

</body>
</html>