<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Car</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/cars/{id}(id=${car.getId()})}" th:object="${car}">
    <label for="brand">Enter brand: </label>
    <input type="text" th:field="*{brand}" id="brand">
    <br/>
    <br/>
    <label for="model">Enter model: </label>
    <input type="text" th:field="*{model}" id="model">
    <br/>
    <br/>
    <label for="year">Enter year: </label>
    <input type="text" th:field="*{year}" id="year">
    <br/>
    <br/>
    <label for="color">Enter color: </label>
    <input type="text" th:field="*{color}" id="color">
    <br/>
    <br/>
    <label for="mileage">Enter mileage: </label>
    <input type="text" th:field="*{mileage}" id="mileage">
    <br/>
    <br/>
    <input type="submit" value="Update">
</form>

</body>
</html>